.contact {
  line-height: 22px;
  text-align: left;

  &__title {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 10px;
    text-align: left;
  }

  &__information {
    a {
      display: inline-block;
    }
  }

  &__address {
    margin-bottom: 10px;
  }

  &__phone {
    margin-bottom: 10px;
  }

  &__form {
    button {
      border: 1px solid #e7e7e7;
      border-radius: 0;
      font-size: 12px;
    }
  }

  .container {
    margin-bottom: 40px;
  }

  h4 {
    margin: 20px 0;
  }

  .form-control {
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    box-shadow: none;
    font-size: 12px;
  }

  textarea.form-control {
    height: 160px;
    resize: none;
  }
}