.contact {
  text-align: left;

  .container {
    margin-bottom: 15px;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
  }

  &-information {
    line-height: 22px;

    a {
      display: inline-block;
    }
  }

  &-address {
    margin-bottom: 6px;

    div {
      margin-bottom: 6px;
    }
  }

  &-phone {
    margin-bottom: 6px;

    div {
      margin-bottom: 6px;
    }
  }


  .form-control {
    border: 1px solid #e7e7e7;
    box-shadow: none;
    border-radius: 2px;
    font-size: 12px;
  }

  textarea.form-control {
    resize: none;
    line-height: 20px;
    height: 160px;
  }
}

.form {

  button {
    font-size: 12px;
    border-radius: 0;
    border: 1px solid #e7e7e7;

    &:disabled {
      background-color: #e7e7e7;
    }
  }
}
