.contact {
  line-height: 22px;
  text-align: left;

  .container {
    margin-bottom: 15px;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
  }

  &-information a {
    display: inline-block;
  }

  &-address {
    margin-bottom: 10px;
  }

  &-phone {
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    box-shadow: none;
    font-size: 12px;
  }

  textarea.form-control {
    height: 160px;
    resize: none;
  }
}

.form {

  button {
    border: 1px solid #e7e7e7;
    border-radius: 0;
    font-size: 12px;

    &:disabled {
      background-color: #e7e7e7;
    }
  }
}
