.footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 40px;
  padding: 20px 15px;
  text-align: left;

  &__about-us {
    margin-bottom: 30px;
    max-width: 320px;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__contact-us {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }

    img {
      margin-right: 20px;
      width: 20px;
    }

    &--address {
      display: inline-block;
      vertical-align: top;
    }
  }

  &__copyright {
    margin-top: 20px;
  }
}
