header {
  background: url("images/mountains_river.png") 50% 50%;
  background-size: cover;
  height: 400px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  text-align: center;

  &:after {
    background: rgba(0, 0, 0, .6);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.background {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header-title {
  color: #fff;
  margin-top: -60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  h1 {
    font-size: 36px;

    @media(min-width: 768px) {
      font-size: 56px;
    }
  }

  h2 {
    font-size: 22px;

    @media(min-width: 768px) {
      font-size: 36px;
    }
  }
}