.pswp {
  &-gallery {
   text-align: center;
  }

  &-thumbnail {
    cursor: pointer;
    float: left;
    position: relative;

    img {
      width: 100%;
    }

    .plug {
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: visibility 0s 0.2s, opacity 0.2s ease;
      visibility: hidden;
      width: 100%;

      img {
        width: 30px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &:hover {
      .plug {
        content: '';
        display: block;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s ease;
      }
    }
  }
}