.pswp-thumbnail {
  cursor: pointer;
  float: left;
  position: relative;

  img {
    width: 100%;
  }

  .plug {
    color: #fff;
    display: none;
  }

  &:hover {
    .plug {
      background: rgba(0, 0, 0, 0.8);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}