.navbar {
  padding: 5px;
  background: #000;

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav > li {
    padding: 7px 0;

    &:nth-of-type(5) > a:hover {
      cursor: default;
      border-color: transparent;
    }

    & > a {
      padding: 7px 15px;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: 300;
      color: #fff;

      &:hover, &:active {
        color: #fff;
        padding: 6px 14px;
        border: 1px solid rgba(255,255,255, .5);
        border-radius: 3px;
      }

      img {
        position: relative;
        bottom: 2px;
      }
    }
  }
}

.navbar-nav>li>.dropdown-menu {
  min-width: 75px;
  background: rgba(0,0,0, 0.8);
  
  & > li & > a {
    color: #fff;

    &:hover {
      background: transparent;
    }
  }
}