.navbar {
  padding: 5px;
  background: #000;

  &-component {
    margin-top: 61px;
  }

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav > li {
    padding: 7px 0;

    &:nth-of-type(5) > a:hover {
      cursor: default;
      border-color: transparent;
    }

    & > a {
      padding: 7px 15px;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: 300;
      color: #fff;

      &:hover, &:active {
        color: #fff;
        padding: 6px 14px;
        border: 1px solid rgba(255,255,255, .5);
        border-radius: 3px;
      }

      img {
        position: relative;
        bottom: 2px;
      }
    }
  }
}

.navbar-nav>li>.dropdown-menu {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  min-width: 75px;
  background: #000;

  & > li > a {
    color: #7a7a7a;
    font-weight: 300;
    font-size: 16px;

    &:hover {
      color: #fff;
      background: transparent;
    }
  }
}