.offers {
  text-align: left;

  &-title {
    font-size: 20px;
    line-height: 26px;
  }

  &-information {
    margin: 0 0 15px 15px;
  }

  .pswp-thumbnail {
    width: 50%;
    border: 2px solid #fff;

    @media (min-width: 768px) {
      width: 25%;
    }

    &:first-child {
      @media (min-width: 768px) {
        width: 50%;
      }

      @media (min-width: 992px) {
        width: 75%;
      }
    }
  }

  .nav-tabs > li {
    text-align: center;
    width: 50%;
  }

  .tab-content {
    margin-top: 20px;
  }
}