.reviews {

  .container {
    position: relative;
  }

  &__page {
    border: 1px solid #e7e7e7;
    padding: 30px 20px;

    &:before, &:after {
      background: red url("images/quote.svg");
      content: '';
      display: block;
      height: 30px;
      position: absolute;
      top: -15px;
      width: 30px;
    }

    &:after {
      bottom: -15px;
      right: 30px;
      top: auto;
    }
  }

  &__date {
    display: inline-block;
    font-weight: 500;
    margin-left: 30px;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;

    &--day {
      font-size: 28px;
      line-height: 34px;
    }

    &--month {
      font-size: 22px;
      line-height: 28px;
    }

    &--year {
      font-size: 18px;
      line-height: 26px;
    }

    &:after {
      background: #e7e7e7;
      content: '';
      display: block;
      height: 80px;
      left: 0;
      margin-top: -40px;
      position: absolute;
      top: 50%;
      width: 1px;
    }
  }

  &__data {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: calc(100% - 150px);

    &--name {
      font-size: 18px;
    }
    &--city {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}
