.reviews {

  .container {
    position: relative;
  }

  &__page {
    padding: 20px 40px;
    border: 1px solid red ;
  }

  &__date {
    vertical-align: middle;
    position: relative;
    display: inline-block;

    //width: 120px;
    font-weight: 500;
    text-transform: uppercase;

    &--day {
      font-size: 28px;
      line-height: 34px;
    }

    &--month {
      font-size: 22px;
      line-height: 28px;
    }

    &--year {
      font-size: 18px;
      line-height: 26px;
    }

    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 60px;
      background: red;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -30px;
    }
  }

  &__data {
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 50px);
    text-align: left;
    //padding: 0 40px;

    &--name {
      font-size: 18px;
    }
    &--city {
      font-size: 12px;
    }
  }
}
