# Created by .ignore support plugin (hsz.mobi)
skrut_backend/.idea
skrut_frontend/.idea
.idea/modules.xml
.idea/skrut.iml
.idea/workspace.xml
.idea
/skrut_backend/node_modules/
/skrut_frontend/node_modules/

