.reviews {

  .container {
    position: relative;
  }

  &__page {
    border: 1px solid #e7e7e7;
    padding: 30px 20px;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      display: table;
    }

    &:before, &:after {
      background: #fff url("images/quote.svg") center no-repeat;
      background-size: 60%;
      content: '';
      display: block;
      height: 60px;
      position: absolute;
      top: -35px;
      width: 60px;
    }

    &:after {
      bottom: 10px;
      right: 30px;
      top: auto;
      transform: rotate(180deg);
    }
  }

  &__date {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 30px;
      padding: 0 30px;
    }

    &--day {
      @media (min-width: 768px) {
        font-size: 28px;
        line-height: 34px;
      }
    }

    &--month {
      @media (min-width: 768px) {
        font-size: 22px;
        line-height: 28px;
      }
    }

    &--year {
      @media (min-width: 768px) {
        font-size: 18px;
        line-height: 26px;
      }
    }

    &:after {
      @media (min-width: 768px) {
        background: #e7e7e7;
        content: '';
        display: block;
        height: 80px;
        left: 0;
        margin-top: -40px;
        position: absolute;
        top: 50%;
        width: 1px;
      }
    }

    div {
      display: inline-block;
      margin-right: 5px;
      
      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  &__data {
    text-align: left;

    @media (max-width: 767px) {
      display: table-footer-group;
      margin-top: 20px;
    }

    @media (min-width: 768px) {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 150px);
    }

    &--name {
      font-size: 18px;
    }
    &--city {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}