a {
  color: #000;
  display: block;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.button {
  background-color: #40b572;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-bottom: 20px;
  padding: 8px 15px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #379c62;
  }
}