.form {
  button {
    font-size: 12px;
  }

  .form-control {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
  }

  textarea.form-control {
    height: 160px;
    resize: none;
  }

  &__custom {
    margin-top: 30px;

    @media (min-width: 992px) {
      margin: 0;
    }
  }
}