@import url(../node_modules/react-photoswipe/dist/photoswipe.css);
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%; }

*:focus {
  outline: none; }

.container-fluid {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%; }

a {
  color: #000;
  display: block; }
  a:hover {
    color: #000;
    text-decoration: none; }

.button {
  background-color: #40b572;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-bottom: 20px;
  padding: 8px 15px;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease; }
  .button:hover {
    background-color: #379c62; }
  .button:disabled {
    background-color: rgba(64, 181, 114, 0.5); }

.form button {
  font-size: 12px; }

.form .form-control {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px; }

.form textarea.form-control {
  height: 160px;
  resize: none; }

.form__custom {
  margin-top: 30px; }
  @media (min-width: 992px) {
    .form__custom {
      margin: 0; } }

.navbar {
  background: #000;
  padding: 5px;
  text-align: center; }
  .navbar__component {
    margin-top: 61px; }
  .navbar .navbar-toggle {
    border-color: transparent; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background: transparent; }
  .navbar .navbar-brand {
    color: #fff; }
  .navbar-fixed-top .navbar-collapse {
    max-height: 100%; }
  .navbar .navbar-nav > li {
    padding: 7px 0; }
    .navbar .navbar-nav > li:nth-of-type(6) {
      display: none; }
      @media (min-width: 768px) {
        .navbar .navbar-nav > li:nth-of-type(6) {
          display: block; } }
      .navbar .navbar-nav > li:nth-of-type(6) > a:hover {
        border-color: transparent;
        cursor: default; }
    .navbar .navbar-nav > li > a {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      padding: 7px 15px; }
      .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:active {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        color: #fff;
        padding: 6px 14px; }
      .navbar .navbar-nav > li > a img {
        bottom: 2px;
        position: relative;
        width: 20px; }
      @media (min-width: 768px) {
        .navbar .navbar-nav > li > a {
          font-size: 14px; } }
      @media (min-width: 992px) {
        .navbar .navbar-nav > li > a {
          font-size: 16px; } }
    .navbar .navbar-nav > li > .dropdown-menu {
      background: #000;
      border: none;
      min-width: 75px;
      text-align: center; }
      @media (min-width: 768px) {
        .navbar .navbar-nav > li > .dropdown-menu {
          border: 1px solid rgba(255, 255, 255, 0.5);
          border-radius: 3px; } }
      .navbar .navbar-nav > li > .dropdown-menu > li > a {
        color: #7a7a7a;
        font-size: 16px;
        font-weight: 300; }
        .navbar .navbar-nav > li > .dropdown-menu > li > a:hover {
          background: transparent;
          color: #fff; }

.popover-phone {
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 24px; }
  .popover-phone a {
    color: #fff;
    font-weight: 300; }

.popover.bottom {
  margin-top: 20px; }
  .popover.bottom > .arrow:after {
    border-bottom-color: rgba(255, 255, 255, 0.6); }

.header {
  background: url("images/mountains_river.png") 50% 50%;
  background-size: cover;
  height: 400px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .header__title {
    color: #fff;
    margin-top: -60px;
    position: relative;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1; }
    .header__title h1 {
      font-size: 36px; }
      @media (min-width: 768px) {
        .header__title h1 {
          font-size: 56px; } }
    .header__title h2 {
      font-size: 22px; }
      @media (min-width: 768px) {
        .header__title h2 {
          font-size: 36px; } }
  .header:after {
    background: rgba(0, 0, 0, 0.6);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 40px;
  padding: 20px 15px;
  text-align: left; }
  .footer__about-us {
    margin-bottom: 30px;
    max-width: 320px; }
  .footer__title {
    font-size: 18px;
    margin-bottom: 20px; }
  .footer__contact-us {
    list-style: none;
    padding: 0; }
    .footer__contact-us li {
      margin-bottom: 10px; }
    .footer__contact-us img {
      margin-right: 20px;
      width: 20px; }
    .footer__contact-us--address {
      display: inline-block;
      vertical-align: top; }
  .footer__copyright {
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    padding-top: 20px; }

.offers {
  text-align: left; }
  .offers__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px; }
  .offers__information {
    margin: 0 0 15px 15px; }
  .offers .pswp-thumbnail {
    border: 2px solid #fff;
    width: 50%; }
    @media (min-width: 768px) {
      .offers .pswp-thumbnail {
        width: 25%; } }
    @media (min-width: 768px) {
      .offers .pswp-thumbnail:first-child {
        width: 50%; } }
    @media (min-width: 992px) {
      .offers .pswp-thumbnail:first-child {
        width: 75%; } }
  .offers .nav-tabs > li {
    text-align: center;
    width: 50%; }
  .offers .tab-content {
    margin-top: 20px; }

.price__title {
  font-size: 26px;
  line-height: 34px;
  margin: 20px 0 10px; }

.price__description {
  margin-bottom: 10px; }

.gallery__title {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 10px;
  text-align: left; }

.gallery .pswp-gallery {
  margin-bottom: 20px; }

.gallery .pswp-thumbnail {
  border: 2px solid #fff;
  width: 50%; }
  @media (min-width: 576px) {
    .gallery .pswp-thumbnail {
      width: 25%; } }

.about-us {
  text-align: left; }
  .about-us__title {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 20px; }
  .about-us__description div {
    margin-bottom: 10px; }
  @media (min-width: 768px) {
    .about-us__description--columns {
      -webkit-column-gap: 40px;
      -moz-column-gap: 40px;
      column-gap: 40px;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }
  .about-us__image {
    margin: 10px 0 20px;
    max-height: 300px;
    overflow: hidden; }
    .about-us__image img {
      width: 100%; }
  .about-us__forwarding {
    background: #40b572;
    height: 100px;
    margin-bottom: 10px;
    text-align: center; }
    .about-us__forwarding a {
      color: #fff;
      display: block;
      font-size: 18px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.home {
  background: rgba(0, 0, 0, 0.6);
  height: calc(100vh - 60px);
  overflow: hidden;
  position: relative; }

.tile {
  height: 400px;
  margin-bottom: 15px;
  overflow: hidden; }
  @media (min-width: 768px) {
    .tile {
      border: 5px solid #fff;
      margin-bottom: 0; } }
  .tile__wrapper {
    color: #fff;
    margin: 10px auto;
    max-width: 480px;
    padding: 0 15px;
    text-align: center; }
    @media (min-width: 768px) {
      .tile__wrapper {
        max-width: 100%; } }
  .tile__small {
    background: #40b572; }
  .tile__large {
    height: 100%;
    padding: 0; }
    @media (min-width: 768px) {
      .tile__large {
        height: 400px; } }
    .tile__large img {
      height: 100%;
      max-height: 400px;
      position: relative; }
      @media (min-width: 768px) {
        .tile__large img {
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); } }
      @media (min-width: 992px) {
        .tile__large img {
          height: auto;
          width: 100%; } }
  .tile div {
    bottom: 0;
    font-size: 18px;
    line-height: 26px;
    position: relative;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

video {
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  z-index: -100; }

.reviews .container {
  position: relative; }

.reviews__title {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 20px;
  text-align: left; }
  @media (min-width: 768px) {
    .reviews__title {
      margin-bottom: 40px; } }

.reviews__page {
  border: 1px solid #e7e7e7;
  padding: 30px 20px;
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .reviews__page {
      display: table; } }
  .reviews__page:before, .reviews__page:after {
    background: #fff url("images/quote.svg") center no-repeat;
    background-size: 60%;
    content: '';
    display: block;
    height: 60px;
    position: absolute;
    top: -35px;
    width: 60px; }
  .reviews__page:after {
    bottom: 10px;
    right: 30px;
    top: auto;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.reviews__date {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .reviews__date {
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 30px;
      padding: 0 30px; } }
  @media (min-width: 768px) {
    .reviews__date--day {
      font-size: 28px;
      line-height: 34px; } }
  @media (min-width: 768px) {
    .reviews__date--month {
      font-size: 22px;
      line-height: 28px; } }
  @media (min-width: 768px) {
    .reviews__date--year {
      font-size: 18px;
      line-height: 26px; } }
  @media (min-width: 768px) {
    .reviews__date:after {
      background: #e7e7e7;
      content: '';
      display: block;
      height: 80px;
      left: 0;
      margin-top: -40px;
      position: absolute;
      top: 50%;
      width: 1px; } }
  .reviews__date div {
    display: inline-block;
    margin-right: 5px; }
    @media (min-width: 768px) {
      .reviews__date div {
        display: block; } }

.reviews__data {
  text-align: left; }
  @media (max-width: 767px) {
    .reviews__data {
      display: table-footer-group;
      margin-top: 20px; } }
  @media (min-width: 768px) {
    .reviews__data {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 150px); } }
  .reviews__data--name {
    font-size: 18px; }
  .reviews__data--city {
    font-size: 12px;
    margin-bottom: 10px; }

.pswp-gallery {
  text-align: center; }

.pswp-thumbnail {
  cursor: pointer;
  float: left;
  position: relative; }
  .pswp-thumbnail img {
    width: 100%; }
  .pswp-thumbnail .plug {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: visibility 0s 0.2s, opacity 0.2s ease;
    -o-transition: visibility 0s 0.2s, opacity 0.2s ease;
    transition: visibility 0s 0.2s, opacity 0.2s ease;
    visibility: hidden;
    width: 100%; }
    .pswp-thumbnail .plug img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 30px; }
  .pswp-thumbnail:hover .plug {
    content: '';
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    visibility: visible; }

.contact {
  line-height: 22px;
  text-align: left; }
  .contact__title {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 10px;
    text-align: left; }
  .contact__information a {
    display: inline-block; }
  .contact__address {
    margin-bottom: 10px; }
  .contact__phone {
    margin-bottom: 10px; }
  .contact .container {
    margin-bottom: 40px; }
  .contact h4 {
    margin: 20px 0; }
  .contact .hide__button {
    visibility: hidden; }
