body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

section:nth-of-type(1) {
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  }

  .title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;

    h1 {
      font-size: 36px;

      @media(min-width: 768px) {
        font-size: 56px;
      }
    }

    h2 {
      font-size: 22px;

      @media(min-width: 768px) {
        font-size: 36px;
      }
    }
  }
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

a {
  display: block;
  color: #000;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

@import "navbar/navbar";
@import "tile/tile";
@import "footer/footer";
@import "popover/popover";