.navbar-default {
  padding: 5px;

  @media(min-width: 768px) {
    background: transparent;
  }

  .navbar-brand {
    @media(min-width: 768px) {
      color: #fff;
    }
  }

  .navbar-nav > li > a {
    @media(min-width: 768px) {
      color: #fff;
    }
  }
}