.navbar {
  padding: 5px;
  background: rgba(0,0,0, 0.8);

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav > li > a {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    color: #fff;

    &:hover, &:active {
      color: #fff;
    }

    img {
      position: relative;
      bottom: 2px;
    }
  }
}

.navbar-nav>li>.dropdown-menu {
  min-width: 75px;
  border: none;
}