@import "../node_modules/react-photoswipe/dist/photoswipe.css";
@import "components/index";
@import "containers/index";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 22px;
}

html, body {
  height: 100%;
  width: 100%;
}

*:focus {
  outline: none;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

a {
  display: block;
  color: #000;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  background-color: #40b572;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 8px 15px;
  float: right;
  margin-bottom: 20px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #379c62;
  }
}

.form {
  button {
    font-size: 12px;
  }

  .form-control {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
  }

  textarea.form-control {
    height: 160px;
    resize: none;
  }

  &__custom {
    margin-top: 30px;

    @media (min-width: 992px) {
      margin: 0;
    }
  }
}
